/* 按钮基本样式 */
.mybutton {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #dcdcdc;
  border-radius: 0.5rem;
  cursor: pointer;
}

.mybutton:hover {
  background-color: #eeeeee;
}

/* 按钮容器样式一 */
.btn1 .mybutton {
  border-width: 0px;
  background-color: #0000ff;
  color: #ffffff;
}

.btn1 .mybutton:hover {
  background-color: #0000aa;
}

/* 按钮容器样式二 */
.btn2 .mybutton {
  border-color: transparent;
  background-color: #ff0000;
  color: #ffffff;
}

.btn2 .mybutton:hover {
  background-color: #aa0000;
}

/* 切换激活项相关样式 */
.wx span {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #ff0000;
  color: #ffffff;
}

.wx .active {
  background-color: #0000ff;
}
