/* 顶级容器全屏，无滚动条 */
.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #dcdcdc;
}

/* 中间的区域填满 */
.container > div:nth-child(2) {
  flex: 1;
  background-color: #ffffff;
}

/* 选择器a,选择器b a或者b */
.container > div:first-child,
.container > div:last-child {
  padding: 0.5rem;
}

/* 上方左右布局 */
.container > div:first-child {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

/* 下方最space-around布局 */
.container > div:last-child {
  display: flex;
  justify-content: space-around;
}

/* 下方图标整体样式 */
.bottom-icon {
  text-align: center;
}

.bottom-icon .iconfont {
  font-size: 2rem;
}

.bottom-icon > div:last-child {
  font-size: 0.8rem;
}
/* 激活的图标不一样 */
.active {
  color: #00cc00;
}

/* 聊天样式 */
.chat-div {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #dcdcdc;
  align-items: center;
}

.chat-div img {
  width: 3rem;
  height: 3rem;
  border-radius: 5%;
}

/* 中间聊天信息占满 */
.chat-div > div:nth-child(2) {
  flex: 1;
  padding: 0px 0.5rem;
}

.chat-name {
  font-weight: bold;
}

.chat-info {
  font-size: 0.8rem;
  color: #999999;
}
