body {
  margin: 0px;
}

.modify-box {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modify-box > div {
  background-color: #fff;
  border-radius: 2rem;
  padding: 2rem;
}
.img-box {
  display: inline-block;
  width: 3rem;
  padding: 2px;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
}

.img-box > img {
  display: block;
  width: 100%;
  height: auto;
}
