.array-div {
  width: 16rem;
  height: 9rem;
  transition: background-image 1s;
}

.span-box > span {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid #ff0000;
  border-radius: 0.5rem;
}
