* {
  word-break: break-all;
  word-wrap: break-word;
}
#container {
  display: flex;
  flex-wrap: wrap;
}

#container > div {
  max-width: 23vw;
}

#container .card-body {
  text-decoration: underline;
  cursor: pointer;
}

#container .card-body:hover {
  color: #ff0000;
}
