body {
  margin: 0px;
}

.header {
  /* 头部区域的布局和样式 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* 样式部分 */
  background-color: #eff4fa;
  border-bottom: 1px solid #d6dfea;
  padding: 1rem 2.5rem;
  color: #b6b6b6;
}

/*
  选择器1 选择器2表示1里面2
  例如.header表示class=header的元素
  a表示所有的超链接
  .header a表示class=header的元素里面的超链接
*/
.header a {
  /* 头部超链接样式 */
  color: #1d5494;
  text-decoration: none;
  font-size: 0.8rem;
}
/* :hover,伪类，表示鼠标悬停在元素上方时的样式 */
.header a:hover {
  text-decoration: underline;
}

/* 主体部分的布局和样式 */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.mail-text {
  /* 邮箱文字样式 */
  color: #6f95c8;
  font-size: 1.5rem;
  padding: 0.5rem 0px;
}

.main-center {
  /* 中间图片上方留白 */
  height: 20rem;
  padding-top: 5rem;
}

.main-left {
  /* 左侧文字下方留白 */
  height: 20rem;
  padding-bottom: 5rem;
}

.form-div {
  border: 1px solid #a0b1c4;
  border-radius: 2px;
}

.form-title-div {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0px;
  border-bottom: 1px solid #a0b1c4;
  background-color: #f9fbfe;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.disable-text {
  color: #999999;
}

/* 下方的区域 */
.form-main-div {
  padding: 1rem;
}

/* 模拟输入表单元素 */
.input-div {
  border: 1px solid #96a5b4;
  border-radius: 1px;
  padding: 0.1rem 0.3rem;
}

/* :focus-within当元素或者它的里面的元素拥有焦点时 */
.input-div:focus-within {
  border-color: #4892e7;
}

.input-div input {
  outline: none;
  border-width: 0px;
}

.mr-div {
  margin-bottom: 0.5rem;
}

.button-div {
  /* div模拟按钮样式 */
  background-color: #4892e7;
  text-align: center;
  border-radius: 0.2rem;
  color: #ffffff;
  padding: 0.2rem 0px;
}

.button-div:hover {
  background-color: #58a3f8;
  /* 鼠标变成超链接手指样式 */
  cursor: pointer;
}

.qr-div {
  color: #225592;
  font-size: 0.5rem;
  cursor: pointer;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  text-align: center;
  padding: 0.5rem;
  background-color: #eff4fa;
  border-top: 1px solid #d6dfea;
  font-size: 0.8rem;
  color: #999999;
}

footer a {
  color: #1d5494;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
