.dept-box {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dept-box > div {
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
}
