.container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.container > div {
  width: 540px;
  height: 300px;
  /* 绝对定位的容器一定要有相对定位约束！！！！！！ */
  position: relative;
}

/* 背景图片区域 */
#divBg {
  width: 100%;
  height: 100%;
  background-image: url('../../../images/img1.jpg');
  background-position: center center;
  background-size: cover;
  transition: background-image 2s linear;
}

/* 上一页和下一页 */
/* ,或，表示任何一个匹配都会套用样式 */
#divPre,
#divNext,
#divPoint {
  position: absolute;
}

#divPre,
#divNext {
  top: 0px;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  padding: 0px 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
}

#divPre:hover,
#divNext:hover {
  color: #dcdcdc;
  cursor: pointer;
}

#divNext {
  right: 0px;
}

/* 指示器的样式 */
#divPoint {
  left: 0px;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

/* 指示器的圆圈 */
#divPoint > span {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  border: 3px solid #777;
  border-radius: 50%;
  background-color: #000;
  transition: background-color 1s;
}

#divPoint .active {
  background-color: #fff;
}
