#divLoading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  top: 0px;
  left: 0px;
  display: none;
  justify-content: center;
  align-items: center;
}
