table,
th,
td {
  border: 1px solid #ff00ff;
}
table {
  border-collapse: collapse;
  width: 100%;
}

/* 修改对话框 */
.modify-dialog {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.modify-dialog > div {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
}
