/* 表单的最外层样式 */
.form-box {
  border: 1px solid #a0b1c4;
  border-radius: 2px;
}

/* 标题栏样式 */
.form-title {
  background-color: #f9fbfe;
  border-bottom: 1px solid #a0b1c4;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0px;
}

.disable-title {
  color: #999999;
}

.form-main {
  padding: 0.5rem;
}

.input-div {
  border: 1px solid #96a5b4;
  border-radius: 2px;
  padding: 0.1rem 0.3rem;
  margin: 0.5rem 0px;
}

.input {
  border-width: 0px;
  /* 去掉input元素的边框 */
  outline: none;
}

/* :focus-within，伪类，表示元素或者里面的子元素拥有焦点（可输入）时 */
.input-div:focus-within {
  border-color: #7892e4;
}

.mr-box {
  margin-bottom: 0.5rem;
}

.button-div {
  /* 用div模拟按钮 */
  background-color: #7892e4;
  color: #ffffff;
  text-align: center;
  padding: 0.2rem;
  border-radius: 0.2rem;
  /* 鼠标变成点击样式 */
  cursor: pointer;
}

.button-div:hover {
  background-color: #89a3f5;
}

.qr-div {
  color: #225592;
  text-align: center;
  font-size: 0.5rem;
  cursor: pointer;
}

.links-div {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.links-div a {
  color: #225592;
  text-decoration: none;
  font-size: 0.5rem;
}

.links-div a:hover {
  text-decoration: underline;
}
