<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>邮箱找回密码</title>
</head>

<body>
  <div id="app">
    <div>{{title}}</div>

    <div>
      登录名：<input type="text" v-model="info.username">
      <button @click="sendCode">发送验证码</button>
      验证码：<input type="text" v-model="info.code">
      新密码：<input type="text" v-model="info.password">
      确认密码：<input type="text" v-model="pwd2">
      <button @click="save">保存</button>

      {{info}}

    </div>

    <!-- 作业一 完成手机绑定和手机找回密码功能 -->

  </div>

  <script src="../lib/vue.min.js"></script>
  <script src="../lib/axios.min.js"></script>
  <script src="../lib/qs.min.js"></script>
  <script src="../lib/spark-md5.min.js"></script>
  <script src="../js/ajax.js"></script>
  <script src="../js/filters.js"></script>

  <script src="js/findpwd.js"></script>
</body>

</html>